/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('./fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.woff2') format('woff2'),
        url('./fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Core styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Css varibles */
:root {
    /* bg color */
    --primary-bg-color: #0D263B; 
    --secondary-bg-color: #F5F7FC; 
    
    /* text color */
    --primary-text-color: #fff;
    --secondary-text-color: #0D263B;
    --text-color: #696969;
    --btn-text-color: #fff;

    /* button bg-color */
    --primary-btn-bg-color: #0061DF;
    --secondary-btn-bg-color: #0D263B;

    /* btn-border-radius */
    --primary-btn-border-radius: 2px;
    --secondary-btn-border-radius: 3px;

    /* width */
    --width: 1440px;
}

/* Common styles */
.main-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
}

.to-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: var(--secondary-text-color);
}

.section-discription {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.button {
    padding: 12px 40px;
    gap: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    color: var(--btn-text-color);
    outline: none;
    cursor: pointer;
}

.card-btn {
    padding: 5px 12px;
    gap: 10px;
    background-color: var(--primary-btn-bg-color);
    border-radius: 3px;
    color: var(--btn-text-color);
    text-transform: uppercase;
}

.nocopy {
    --webkit-touch-callout: none; /* iOS Safari */
    --webkit-user-select: none; /* Safari */
    --khtml-user-select: none; /* Konqueror HTML */
    --moz-user-select: none; /* Old versions of Firefox */
    --ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}